<form id="datosFormulario">
    <label>Nombre</label>
    <input type="text" name="name" autocomplete="on" id="">

    <label>Apellido</label>
    <input type="text" name="lastname" autocomplete="on" id="">

    <label>E-Mail</label>
    <input type="email" name="email" autocomplete="on" id="" >

    <label>Contrasela</label>
    <input type="password" name="password" autocomplete="on" id="">

    <button type="submit">Crear Usuario</button>

    <p id="response"></p>
</form>



<script src="/js/createUser.js">