<form id="datosFormulario">
    <label for="nombre">Nombre</label>
    <input type="text" name="name" autocomplete="on" id="nombre">

    <label for="apellido">Apellido</label>
    <input type="text" name="lastname" autocomplete="on" id="apellido">

    <label for="email">E-Mail</label>
    <input type="email" name="email" autocomplete="on" id="email">

    <label for="contraseña">Contraseña</label>
    <input type="password" name="password" autocomplete="on" id="contraseña">

    <button type="submit">Crear Usuario</button>
</form>

    {{!-- <p id="response"></p> --}}

<script src="../public/js/createUser.js">